[submodule "8088_bios"]
	path = 8088_bios
	url = https://github.com/skiselev/8088_bios.git
[submodule "glabios"]
	path = glabios
	url = https://github.com/640-KB/GLaBIOS.git
[submodule "glatick"]
	path = glatick
	url = https://github.com/640-KB/GLaTICK.git
